.contact-section {
    min-height: 70vh;
    height: 100vh;
    /* margin-top: 150px; */
    display: flex;
    flex-direction: column;
}

.contact-section h1 {
    margin-top: 150px;
}

.contact-form {
    display: flex;
    height: auto;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.input-box {
    position: relative;
    width: 250px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

.input-box span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:valid ~ span, .input-box input:focus ~ span{
    transform: translateX(10px) translateY(-7px);
    border-left: 1px solid black;
    border-right: 1px solid black;

}
