.navbar {
  padding: 20px 0;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 0;
}

.nav-link:hover {
  text-decoration:line-through;
  color: black;
  font-style: italic;
}