.app-cursor {
    z-index: 1000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0,0,0);
    /* background-color: black; */
    position: fixed;
    background: transparent;
}