.footer {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.footer-link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.footer-link:hover {
text-decoration: line-through;
color: black;
font-style: italic;
}

.mobile-footer {
  display: none;
}


@media (max-width: 768px) {
.footer-list {
  display: none;
}
.mobile-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.instagram {
  display: flex;
  align-items: center;
  justify-content: center;
}

}