footer {
  height: 15vh;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.footer-list a {
  text-decoration: none;
  color: black;
}

.footer-list a:hover {
  text-decoration: underline;
}
