@font-face {
  font-family: 'Regular';
  src: local('AdventorRegular'), 
  url('./fonts/tex-gyre-adventor.regular.otf') format("opentype");;
}

@font-face {
  font-family: 'Heros';
  src: local('HerosRegular'), 
  url('./fonts/texgyreheros-regular.otf') format("opentype");;
}


@font-face {
  font-family: 'Bold';
  src: local('AdventorBold'), 
  url('./fonts/tex-gyre-adventor.bold.otf') format("opentype");;
}

@font-face {
  font-family: 'ExtraLigth';
  src: local('TickbiteLight'), 
  url('./fonts/tickbite-type-colin-extralight.otf') format("opentype");;
}

:root {

  --primary-color: '#f4f0f0',


}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  font-family: 'Heros', sans-serif;
  position: relative;
  background-color: white;
}
/* .app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

/* body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */
/* 
.general-text {} */