@font-face {
  font-family: 'Regular';
  src: local('AdventorRegular'), 
  url('./fonts/tex-gyre-adventor.regular.otf') format("opentype");;
}


@font-face {
  font-family: 'Bold';
  src: local('AdventorBold'), 
  url('./fonts/tex-gyre-adventor.bold.otf') format("opentype");;
}

@font-face {
  font-family: 'ExtraLigth';
  src: local('TickbiteLight'), 
  url('./fonts/tickbite-type-colin-extralight.otf') format("opentype");;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f4f0f0;
  transition: 0.4s ease;
  font-family: 'Regular', sans-serif;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}