.proyectos {
    min-height: 100vh;
    margin-top: 16vh;
    margin-bottom: 16vh;
}

.proyect-list {
    padding: 0;
    margin: 50px 0;
    list-style: none;
    display: flex;
    gap: 10px;
    text-transform: uppercase;
}

.proyect-list a {
    text-decoration: none;
    color: black;   
}

.proyect-list a.active {
    font-weight: bold;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    overflow: hidden;
    min-height: auto;
    justify-items: center;
}


.proyect-thumb {
    position: relative;
}

.proyect-thumb img {
    border-radius: 5px;
}

.proyect-description {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%; 
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.proyect-thumb:hover .proyect-description {
    opacity: 0.7;
}

/* .proyect-anchor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */